<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Message_NoValidFiles" value="Sorry chap, no valid files discovered!" />
    <add key="UploadURL" value="http://imgur.com/api/upload.xml" />
    <add key="APIKey" value="eb1f3cbd8bce23c958c230c70120c2bf" />
  </appSettings>
</configuration>