<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImgurUploader.UploaderPreferences" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Message_NoValidFiles" value="Sorry chap, no valid files discovered!" />
    <add key="UploadURL" value="http://imgur.com/api/upload.xml" />
    <add key="APIKey" value="eb1f3cbd8bce23c958c230c70120c2bf" />
  </appSettings>
  <userSettings>
    <ImgurUploader.UploaderPreferences>
      <setting name="DefaultExport" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludeLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImgurAccountName" serializeAs="String">
        <value />
      </setting>
    </ImgurUploader.UploaderPreferences>
  </userSettings>
</configuration>